.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 80%;
  margin: auto;
}

div {
  /* border: 1px solid black; */
  width: 100%;
}

.place-container {
  display: flex;
  justify-content: space-between;
}

.place-container .city-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5rem;
  color: var(--card-color);
  display: flex;
  font-weight: bold;
}

.location-icon {
  width: 1.5rem;
  padding: 0rem 0.4rem 0rem 0rem;
}

.place-container .date-time {
  margin: 2px 0px 0px 0px;
  padding: 0.4rem 0rem 0rem 0rem;
  color: var(--card-color);
  margin-left: 1.8rem;
  font-size: 0.8rem;
}

.time-indication-icon {
  width: 4rem;
}

.temp-details {
  margin-top: 10vh;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.temp-details .temp {
  font-size: 4.5rem;
  font-weight: bold;
  margin: 0px;
  display: inline;
  color: var(--card-content-color);
}

.temp-details .temp .celsius-symbol {
  font-size: 3rem;
  margin-left: 5px;
}

.temp-details .weather-icon {
  margin: 0px;
  display: inline;
}

.temp-details .minmax-container .arrow-icon {
  width: 1rem;
}

.arrow-icon.up {
  transform: rotate(-90deg);
}

.arrow-icon.down {
  transform: rotate(90deg);
  margin: 0px 0px 0px 15px;
}

.weather-description {
  margin: 0px;
  margin-top: -15px;
  padding: 0px;
  text-align: center;
}

.card {
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  background-color: var(--card-color);
  padding: 1rem 0.8rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card .card-header {
  margin: 0px;
  text-transform: uppercase;
  color: var(--card-header-color);
  font-size: 0.8rem;
}

.card .card-value {
  margin: 0px;
  color: var(--card-content-color);
  font-size: 1.2rem;
  margin-top: 5px;
}
