@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

:root {
  --body-color-primary: #374151;
  --body-color-secondary: #d1d5db;
  --body-color-tertiary: #f3f4f6;
  --card-color: #d1d5db;
  --card-header-color: #374151;
  --card-content-color: #111827;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    var(--body-color-primary),
    var(--body-color-secondary),
    var(--body-color-tertiary)
  );
  /* var(--body-color-secondary), */
  background-repeat: no-repeat;
}

@media (max-height: 700px) {
  body {
    height: unset;
  }
}
